// Styles for g-dang it page
.g-dangit {
    background-color: #cf4646;
    position: absolute;
    width: 100%;
    height: 100%;

    h1 {
        color: #fff; //#336EE8
        text-align: center;
        font-family: $oswald;
        text-transform: uppercase;
        font-size: 50px;
        margin-top: 40px;
        -webkit-text-fill-color: #336EE8; /* Will override color (regardless of order) */
        -webkit-text-stroke-width: 2px;
        -webkit-text-stroke-color: white;
    } 
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: $tablet-portrait) {
    .g-dangit {
        h1 {
            font-size: 150px;
            margin-top: 280px;
        }
    }
}
